<%= render partial: "shared/nav" %>

<body>
  <div class="row">
    <p class='col-12'>My Discounts</p>
  </div>
      <% @discounts.each do |d| %>
        <section id="discount-<%= d.id %>">
      <p><%= link_to "Discount ##{d.id}", merchant_discount_path(@merchant, d) %></p>
      <p><%= d.percentage %> Percent Off when you buy <%= d.threshold %> items</p>
  <% end %>
</body>